@import "vars"

    body
        font-family: serif
        
    .container 
        min-width: 1170px
        width: 96%
        margin: auto

    .header
        &-block
            display: flex
            justify-content: space-between
            align-items: center